In [16]:
import requests
import pandas as pd

In [17]:
df = pd.read_csv("pokedex_dataset.csv")
df.shape

(1190, 10)

In [18]:
df.head()

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65

In [19]:
base_url = 'https://img.pokemondb.net/artwork/'

In [24]:
df_new = df.iloc[:,:2]
df_new

         #                    Name
0        1               Bulbasaur
1        2                 Ivysaur
2        3                Venusaur
3        3  Venusaur Mega Venusaur
4        4              Charmander
...    ...                     ...
1185  1004                  Chi-Yu
1186  1005            Roaring Moon
1187  1006            Iron Valiant
1188  1007                Koraidon
1189  1008                Miraidon

[1190 rows x 2 columns]